@import "tailwindcss";

@theme {
    --color-primary: #3b82f6;

    /* Breakpoints */
    --breakpoint-mobile: 320px;
    --breakpoint-tablet: 768px;
    --breakpoint-web: 1200px;
    --breakpoint-web-lg: 1600px;
}

@layer components {
    .container {
        @apply mx-auto w-[92%]! max-w-[95%]! web:max-w-[1720px];
    }

    button {
        @apply cursor-pointer ;
    }
}

@media(max-width: 767px){
    .p-toast {
        max-width: calc(100% - 20px) !important;
        left: 10px !important;
        right: 10px !important;
    }

    .p-paginator {
        padding-inline: 0 !important;
        .p-paginator-first, .p-paginator-last {
            display: none !important;
        }
        --p-paginator-nav-button-width: 2rem !important;
        --p-paginator-nav-button-height: 2rem !important;
    }
}
